/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    color: #F0EBEF;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    color: black;
    background: #e6c019;
    text-shadow: none;
}

::selection {
    color: black;
    background: #e6c019;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Verdana, Geneva, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 5px solid #6F7278;
    padding-top: 35px;
}

.footer-container {
    border-top: 5px solid #6F7278;
}

.main aside {
    border-top: 5px solid #6F7278;

}

.header-container,
.footer-container,
.main aside {
    background: #F0EBEF;
}

.title {
    color: #323236;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 5px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #323236;
    background: #F0EBEF;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #323236;
    color: #F0EBEF;
    text-decoration: none;
    font-size: 2em;
}



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 100px 0px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #323236;
    padding:  0px 7% 25px;
}

.footer-container footer {
    color: #323236;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body {
    background-color: #323236;
}




.line-1{
    color: #323236;
    border-right: 6px solid #323236;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Anonymous Pro', monospace;  
    font-size: 2em;
    padding: 5px 0px;
}

/* Animation */
.anim-typewriter{

  animation: typewriter 1.5s steps(60) 1s 1 normal both,
             blinkTextCursor 800ms steps(60) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 9em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #323236;}
  to{border-right-color: transparent;}
}


a {
    color: black;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        color: black;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
  

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== 

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 5px #aaa;
           -moz-box-shadow: 0 5px 5px #aaa;
                box-shadow: 0 5px 5px #aaa;
    }

   ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        padding-left: 30px;
        padding-right: 0px;
        width: 44%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 50%
    }

    .main aside {
        float: right;
        width: 30%;
    }


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 85%;
        margin: 0px 7%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
