
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../assets/myBackground1.png');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('../assets/abstract-bus.jpg');
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../assets/architect.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}


/*
-----------------------------------------My Code-------------------------------------------*/


#psoff:hover {
    opacity: 0;
}

#aioff:hover {
    opacity: 0;
}

#dwoff:hover {
    opacity: 0;
}

#animoff:hover {
    opacity: 0;
}

#htmloff:hover {
    opacity: 0;
}

#cssoff:hover {
    opacity: 0;
}

#jsoff:hover {
    opacity: 0;
}

/*
-------------------------------------------END---------------------------------------------*/



/* Turn off parallax scrolling for tablets and phones 
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}



@media only screen and (max-width: 600px) {
    #psoff {
        opacity: 0;
    }
    
    #aioff {
        opacity: 0;
    }
    
    #dwoff {
        opacity: 0;
    }
    
    #animoff {
        opacity: 0;
    }
    
    #htmloff {
        opacity: 0;
    }
    
    #cssoff {
        opacity: 0;
    }
    
    #jsoff {
        opacity: 0;
    }
}
*/